/* Write normal CSS, then rewrite using best practices and CSS features like nesting etc */

/* TODO: Rewrite with native CSS features and best practices */
/* TODO: Rewrite with Tailwind */

/* fonts, variables, common styles */
:root{
    /* type */
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-default);

    /* colours */
    color: #0F172A;

    --white: #ffffff;
    --background-muted: #F8FAFC;
    --background-subtle: #F1F5F9;
    --background-extreme: #0F172A;
    --background-intense: #334155;
    --border-subtle: #CBD5E1;
    --text-placeholder: #94A3B8;
    --text-default: #0F172A;
    --text-onDark: #F1F5F9;    

    /* dimensions */
    --font-size-default: 1rem;
    --padding-32: 32px;
    --padding-40: 40px;
    --margin-2: 2px;
    --margin-6: 6px;
    --input-height: 44px;
    --radius-8: 8px;
}

* {
    margin: 0;
    padding: 0;
}

html, body{
    background-color: var(--background-subtle);
}

.headerContainer{
    width: auto;
    padding: 16px 32px 16px 32px; /* top right bottom left */
    background-color: var(--white);
}

.contentContainer{
    display: flex;
    flex-direction: row;
    gap: var(--margin-2);
    height: 100%;
}


/* FIXME: Fix the residual height issue with 100vh */
.leftContainer, .rightContainer{
    background-color: var(--white);
    padding: var(--padding-40);
    margin-top: var(--margin-2);
    width: 100%;
    height: 84.5vh;
}

/* left container element styles */

.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mealContainer, .inputGroupContainer{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 0px 0px 0px;
}

.mealHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.mealDivider{
    width: 100%;
    height: 1px;
    background-color: var(--background-subtle);
}

.mealDetails{
    display: none;
}

.inputGroupContainer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

#inputFieldContainer{
    display: flex;
    flex-direction: column;
    gap: var(--margin-6);
    width: 100%;
}

.dataContainer{
    padding: 40px;
}

/* START input field styles */
label{
    font-size: var(--font-size-default);
    font-weight: 400;
    color: var(--text-default);
}

#textInput{
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-8);
    padding: 12px 14px 12px 14px;
    font-size: var(--font-size-default);
    color: var(--text-default);
}

::placeholder{
    font-weight: 100;
    font-size: 16px;
    color: var(--text-placeholder);
}
/* STOP input field styles */

.divider{
    width: 100%;
    height: 2px;
    background-color: var(--background-subtle);
    margin: 40px 0px 40px 0px;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#submit, #clear{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 20px 0px 20px 0px;
}

#submit{
    background-color: var(--background-extreme);
    font-size: var(--font-size-default);
    color: var(--text-onDark);
    transition: ease-in-out;
    transition-duration: 0.4s;
}

#submit:hover{
    background-color: var(--background-intense);
    cursor: pointer;
}

#clear{
    border: 1px solid var(--border-subtle);
    background-color: var(--background-muted);
    font-size: var(--font-size-default);
    color: var(--text-default);
    transition: ease-in-out;
    transition-duration: 0.4s;
}

#clear:hover{
    background-color: var(--background-subtle);
    cursor: pointer;
}


/* right container element styles */

.rightContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#card{    
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;    
    padding: 24px;
}

.summaryCard{
    height: 300px;
    background-color: var(--background-extreme);
    color: var(--text-onDark);
}

.netCalorieCard{
    flex-grow: 1;
    background-color: var(--background-subtle);
    color: var(--text-default);
}

.goalCard, .consumedCard, .burnedCard{
    width: 100%;
    flex-grow: 1; /* stretches the divs to fill the available space*/
    background-color: var(--background-subtle);
    color: var(--text-default);
}

.cardContentContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.resultContainer{
    display: flex;
    flex-grow: 1;
    gap: 24px;
}

/* TODO: Refactor to change color of SVG with code */

